name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm clean
      - run: pnpm codegen
      - run: pnpm docgen
      - run: git restore docs/_config.yml
      - run: git add src && git diff-index --cached HEAD --exit-code src
      - run: pnpm check
      - run: pnpm circular
      - run: pnpm lint
      - run: pnpm build
      - run: pnpm coverage
